#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  text-align: center;
  color: #2c3e50;
  margin-top: 48px;
}

.container {
  position: relative;
  width: 1278px;
  margin: auto;
}

.the_view {
  position: absolute;
  top: 0px;
  width: 1278px;
  height: 1122px;
  z-index: -1;
  img {
    width:100%;
  }
}

.the_view img {
  width:100%;
}

.clouds {
  position: absolute;
  z-index: 2
}

#cloud1{
  left:0px;
  top: 30px;
  width: 400px;
}

#cloud2{
  left: 290px;
  top: 200px;
  width: 300px;
}

#cloud3{
  left: 450px;
  top: 56px;
  width: 200px;
}
